<div class="card">
  <div class="card-body">
    <h5 class="card-title">Languages</h5>
    <h6 class="card-subtitle mb-2 text-muted">A list of all the found languages</h6>
    <p class="card-text">Please select a language to learn</p>
    <span *ngFor="let language of data">
      <button class="btn btn-primary"> <a [routerLink]="['/words', language.lang]"> {{ language.lang }} </a> </button>
    </span>
    <p class="card-text text-muted">PS: Can't find what you're looking for? <a [routerLink]="['/word-add']" class="card-link" href="#">Add new words</a> in your target language</p>
  </div>
</div>
