<div class="container">
  <h1 *ngIf="!selectedLanguage">My Words</h1>
  <h1 *ngIf="selectedLanguage"> {{ selectedLanguage }} Words</h1>
  <a [routerLink]="['/word-add/', selectedLanguage]" class="btn btn-primary"><i class="fas fa-plus"></i> Add Word</a>
  <a [routerLink]="['/dashboard']" class="btn btn-secondary" role="button"><i class="far fa-arrow-alt-circle-left"></i> Back to Dashboard</a>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Word</th>
        <th scope="col">Language</th>
        <th scope="col">Category</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let word of data">
        <td scope="row"> {{ word.text }} </td>
        <td scope="row"> {{ word.lang }} </td>
        <td scope="row"> {{ word.category }} </td>
        <td scope="row"><a [routerLink]="['/word-detail', word._id]"><i class="fas fa-info-circle"></i> Details</a></td>
      </tr>
    </tbody>
  </table>
</div>


